@charset "UTF8";

* {font-family: Arial, Helvetica, sans-serif; /*height: 100%;*/}

body {background-image: linear-gradient(to right, #B0B6BA, #CBCFD1);}

main {background-color: white; 
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(136, 109, 93); 
    width: 600px; 
    padding: 10px;
    margin: auto;}

h1{color:brown;
text-align: center;
text-shadow: 1px 1px 2px; rgb:rgba(90, 38, 38, 0.637);}

h2 {color: chocolate;}

p { text-align: justify;}
